<h1>Burgers!</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
   <li>{{burger_name}}</li>
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
       <li>{{burger_name}}</li>

     {{/if}}
  {{/each}}
</ul>

<h2>Create a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>

{{!-- need to create a button to cha ge devoured state --}}
